body{
    margin: 0;
}
.top{
    margin: 0;
    background-color: black;
    color: white;
    height: 40px;
    width: 100%;
}
.top a{
    font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
color: white;
    margin: 0;
    font-size: 15px;
    padding-left: 1170px;
  /*  margin-top: 0px;
    padding-top: 50px;*/
    position: absolute;
    top:20px;
}
.top i{
    height: 5px;
    width: 4px;
    padding-left: 1280px;
    /*padding-bottom: 50px ;*/
    position: absolute;
    top:20px;
}
.top p{
    font-size: 18px;
    text-decoration: none;

    padding-left: 1310px;
    /*padding-bottom: 50px ;*/
    position: absolute;
    top:2px; 
}
nav{
    margin: 0;
    width: 100%;
    height: 80px;
    background-color:#141414;
    color: white;
   display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav{
    top: 0;
    position:sticky;
    background-color: #141414;
}
.logo{
    margin-top: 50px;
    margin-left: 200px;
    height: 100px;
    width: 100px;
}
.menu{
    margin-left: 10px;
    width:0;
    display: flex;
    justify-content:left;
    list-style: none;

}
.menu li{
    font-family: Arial, Helvetica, sans-serif;
    width: 100px;


    margin-left: 5px;
    padding: 5px;
}
.menu li a{
    font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
    color:white;
    text-decoration: none;
}
.iconss li{
 list-style:none;
 margin-left: 40px;
 padding-right:25px;
}
.head{
    margin: 0;
    background-color: #141414;
    height: 220px;
    width: 100%;
}

.head p{
    margin: 0;
    padding-top: 25px;
    font-size:20px;
    text-align: center;
    color: white;
    font-family:'Helvetica Neue', 'FreeSans', Arial, sans-serif;;

}
.head h2{
    font-family:'Helvetica Neue', 'FreeSans', Arial, sans-serif;;

    padding-top: 50px;
    margin:0;
    font-size: 36px;
    text-align: center;
    color: white;
}
.image{
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    height: 500px;
    width: 100%;
    background-image:url(./images/rado1.webp);
    background-size: cover;
    
}
.container{
    font-family: Arial, Helvetica, sans-serif;

    margin-top: 0;
    height: 500px;
    width:100%;
    background-color:black;
    display: flex;
    justify-content: center;
    
}  
.imag{
    font-family: Arial, Helvetica, sans-serif;

    margin:0;
    background-image: url(./images/rado2.avif);
    background-size: cover;
    height: 400px;
    width: 500px;
    background-color: aqua;
}  
.imag1{
    font-family: Arial, Helvetica, sans-serif;

    margin:0;
    background-image: url(./images/rado3.avif);
    background-size: cover;
    height: 400px;
    width: 500px;
}
.imag2{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;

    background-image: url(./images/rado4.avif);
    background-size: cover;
    height: 400px;
    width: 500px;
    background-color: aqua;
}
.imag p{
    font-family:'Helvetica Neue', 'FreeSans', Arial, sans-serif;    ;
    color:white;
    padding-top: 400px;
}
.imag1 p{
    font-family: Arial, Helvetica, sans-serif;

    color:white;
    padding-top: 400px;
}
.imag2 p{
    font-family: Arial, Helvetica, sans-serif;

    color:white;
    padding-top: 400px;
}
.container2{
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    height: 700px;
    width:100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.con1{
    margin-top: 70px;
    height: 600px;
    width: 40%;
    background-color:white;
}
.con1 h1{
    font-family:'Helvetica Neue', 'FreeSans', Arial, sans-serif;

    padding-left: 170px;
    font-size: 36px;
    line-height: 43px;
  /*  margin-bottom: 40px;*/
    font-weight: 400;
}
.con1 h3{
    font-family:'Helvetica Neue', 'FreeSans', Arial, sans-serif;
    padding-left: 170px;

    font-size: 18px;

}
.con1 p{
    font-family:'Helvetica Neue', 'FreeSans', Arial, sans-serif;
    padding-left: 170px;

    font-size: 17px;
    line-height: 24px;
    
}
.con1 a{
    padding-left: 170px;

    text-decoration: none;
    color: black;
}
.con1 a:hover{
    text-decoration: underline;
    color:black
}

.con2{
    font-family: Arial, Helvetica, sans-serif;

    margin-top: 70px;
    height: 600px;
    width: 50%;
    background-image: url(./images/rado5.avif);
    background-size: cover;
}
.headin{
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(207, 214, 221, 0.648);
}
.headin h1{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    text-align: center;
    padding-top: 60px;
}
.container3{
    margin: 0;
    height: 700px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    background-color:aliceblue;
    display: flex;
    justify-content:space-between;
}


.c1{
    font-family: Arial, Helvetica, sans-serif;

    margin-left:-30;
    margin-top: 170px;
    background-color:white;
    height: 500px;
    width: 300px;
    background-color: aliceblue;
    
}
.container4{
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    height: 300px;
    width: 100%;
    background-color: aliceblue;
}
.c12{
    border: 1px solid white;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;

    width: 33.5%;
    background-image: url(./images/rado11.avif);
    background-size: cover;
}
.c13{
    height: 300px;
    border: 1px solid white;

    width: 33.5%;
    font-family: Arial, Helvetica, sans-serif;

    background-image: url(./images/rado12.avif);
    background-size: cover;
}
.c14{
    height: 300px;
    border: 1px solid white;

    width: 33.5%;
    background-image: url(./images/rado13.avif);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

}
.container5{
    display: flex;
    height: 500px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    background-color: aliceblue;
}
.c22{
    border: 1px solid white;
    height: 500px;
    width:50%;
    font-family: Arial, Helvetica, sans-serif;
    brightness:40%;

    background-image: url(./images/rado14.avif);
    background-size: cover;
}
.c23{
    height: 500px;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    brightness:40%;
    width:50%;
    background-image: url(./images/rado15.webp);
    background-size: cover;
}
.container6{
    margin: 0;
    height:730px;
    width: 100%;
    background-color:white;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;

}
.c2{
    margin-top: 130px;
  height: 600px;
  width: 100%;
  background-color: antiquewhite;  
}
.c2 a{
    text-decoration: none;
    color:black;
    padding-left:230px;
}
.c2 a:hover{
    width: 50%;
}
.c3{
    margin-top: 130px;
    font-family: Arial, Helvetica, sans-serif;

  height: 600px;
  width: 100%;
  background-color: antiquewhite; 
  background-image: url(./images/rado16.avif);
  background-size: cover; 
}
.c2 h3{
    font-size: 20px;
    padding-top: 50px;
    padding-left: 230px;
    font-family:'Helvetica Neue', 'FreeSans', Arial, sans-serif;
font-weight: 0;

}
.c2 h1{
    
    padding-left: 230px;
    font-family:'Helvetica Neue', 'FreeSans', Arial, sans-serif;


}
.c2 p{
    font-size: 20px;
    padding-left: 230px;
    font-family:'Helvetica Neue', 'FreeSans', Arial, sans-serif;


}
.last{
    height:600px;
    width:100%;
    background-color: beige;
    display: flex;
}
.l1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    padding-left: 135px;
    padding-right: 30px;
    margin-top: 90px;
    height:400px;
    width: 100%;
    border-right: solid rgba(0, 0, 0, 0.419) 1px;
    
}
.l1 button{
    height: 52px;
    width: 160px;
    background-color: black;
    color: white;
}
.l1 button:hover{
    background-color: white;
    color :black
}
.l1 p{
    font-size: 15px;
}
.l2{
    padding-left: 140px;
    margin-top: 90px;
    font-family: Arial, Helvetica, sans-serif;

    height:400px;
    width: 100%;   
}
.l2 button{
    height: 52px;
    width: 160px;
    background-color: black;
    color: white;
    margin-left: 80px;
}
.l2 button:hover{
    background-color: white;
    color :black
}
.l2 p{
    font-size: 15px;
 
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:250px;
    width:100%;
    background-color: black;
}
.foot{
    height:200px;
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

}
.customer{
    height:180px;
    width:200px;
    color:white;
    padding-top: 50px;

}
.customer h2{
    font-size: 16px;
    padding-left: 40px;

}
.list a{
    opacity:0.5;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.list a:hover{
    font-family: Arial, Helvetica, sans-serif;

    opacity:1;
}
.list li{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;

}
.cust{
    height:180px;
    width:200px;
    color:white;
    padding-top: 50px;
}

.cust h2{
    font-size: 16px;
    padding-left: 40px;
}
.list2 a{
    opacity:0.5;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 13px;

    text-decoration: none;
}
.list2 a:hover{
    opacity:1;
    font-family: Arial, Helvetica, sans-serif;

}
.list2 li{
    list-style: none;
}
.foot2{
    height:200px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last2{
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;

    height:180px;
    width:200px;
    color:white;

}
.iconn a{ 
    position: absolute;
    opacity:0.5;
    color:white;
    font-family: Arial, Helvetica, sans-serif;

    text-decoration: none;
}
.iconn a:hover{
    opacity:1;
    font-family: Arial, Helvetica, sans-serif;

}
.iconn li{

    list-style: none;
    font-family: Arial, Helvetica, sans-serif;

}
.lst{
    padding-top: 40px;

    height:180px;
    width:200px;
    color:white;
}
.lst input email{
    border: none;
    border-bottom: 1px solid white;
}
.image h1{
    margin: 0;
    position: absolute;
    top:30%;
    left:5%;
    color: white;
    font-family:"Oswald-Regular","Tahoma",Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 6px;
    line-height: 50px;
    font-size:48px;

}
.image button{
    margin:0;
    position: absolute;
    top:60%;
    left:5%;
    height: 52px;
    width: 180px;
    color:white;
    border: 1px solid white;

    font-family: Arial, Helvetica, sans-serif;
font-size: 15px;

    background-color:transparent ;
}
.image button:hover{
    background-color: white;
    color: black;
}
.c12 h1{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    color: white;
    padding-left: 80px;
    padding-top: 170px;
}
.c12 button{
    margin:0;
    position: absolute;
    margin-left: 130px;
    margin-top: 210px;
    font-family: Arial, Helvetica, sans-serif;
    height: 52px;
    width: 180px;
    color:white;
    border: 1px solid white;

    background-color:transparent ;
}
.c12 button:hover{
    background-color: white;
    color:black
}
.c13 h1{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    position: absolute;
    color: white;
    padding-left: 80px;
    padding-top: 170px;
}
.c13 button{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    height: 52px;
    width: 180px;
    position: absolute;
    margin-left: 120px;
    margin-top: 210px;
    border: 1px solid white;
    color:white;
    background-color:transparent ;
}
.c13 button:hover{
    background-color: white;
    color:black
}
.c14 h1{
    margin: 0;
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    padding-left: 80px;
    padding-top: 170px;
}
.c14 button{
    margin:0;
    position: absolute;
    margin-left: 110px;
    margin-top: 210px;
    font-family: Arial, Helvetica, sans-serif;
    height: 52px;
    width: 180px;
    border: 1px solid white;

    color:white;
    background-color:transparent ;
}
.c14 button:hover{
    background-color: white;
    color:black
}
.c22 h1{
    margin: 0;
    position: absolute;
    color: white;
    padding-left: 250px;
    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;

}
.c22 button{
    font-family: Arial, Helvetica, sans-serif;
    height: 52px;
    width: 180px;
    margin:0;
    position: absolute;
    margin-left: 270px;
    margin-top: 270px;
    border: 1px solid white;

    color:white;
    background-color:transparent ;
}
.c22 button:hover{
    background-color: white;
    color:black
}
.c23 h1{
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    position: absolute;
    color: white;
    padding-left: 250px;
    padding-top: 200px;
}
.c23 button{
    margin:0;
    position: absolute;
    margin-left: 290px;
    margin-top: 270px;
    font-family: Arial, Helvetica, sans-serif;
    height: 52px;
    width: 180px;
    border: 1px solid white;

    color:white;
    background-color:transparent ;
}
.c23 button:hover{
    background-color: white;
    color:black
}